<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera página con estilos CSS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hola Mundo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo eaque molestiae culpa inventore perspiciatis harum, voluptatum eos eius sunt, est exercitationem porro nam alias fugit incidunt omnis quibusdam amet nesciunt.</p>
</body>
</html>